odkd==0.0.1
autocommand==2.2.2
more-itertools==10.3.0
jaraco.context==5.3.0
platformdirs==4.2.2
jaraco.functools==4.0.1
packaging==24.2
inflect==7.3.1
tomli==2.0.1
typing_extensions==4.12.2
importlib_metadata==8.0.0
wheel==0.43.0
backports.tarfile==1.2.0
typeguard==4.3.0
jaraco.text==3.12.1
jaraco.collections==5.1.0
zipp==3.19.2
libmambapy==1.5.8
Brotli==1.1.0
decorator==5.1.1
six==1.16.0
distro==1.9.0
ruamel.yaml==0.18.6
certifi==2024.7.4
traitlets==5.14.3
ipython==8.26.0
pycparser==2.22
typing_extensions==4.12.2
wcwidth==0.2.13
cffi==1.16.0
platformdirs==4.2.0
ruamel.yaml.clib==0.2.8
charset-normalizer==3.3.2
pexpect==4.9.0
mamba==1.5.8
pyzmq==26.1.1
executing==2.0.1
debugpy==1.8.5
pycosat==0.6.6
ipykernel==6.29.5
jsonpatch==1.33
PySocks==1.7.1
psutil==6.0.0
idna==3.6
menuinst==2.0.2
truststore==0.8.0
jupyter_client==8.6.2
boltons==24.0.0
colorama==0.4.6
python-dateutil==2.9.0
nest_asyncio==1.6.0
jupyter_core==5.7.2
stack-data==0.6.2
tornado==6.4.1
prompt_toolkit==3.0.47
conda==24.7.1
pluggy==1.4.0
urllib3==2.2.1
packaging==24.0
parso==0.8.4
ptyprocess==0.7.0
conda-libmamba-solver==24.1.0
conda_package_streaming==0.9.0
archspec==0.2.3
zstandard==0.22.0
jedi==0.19.1
pickleshare==0.7.5
zipp==3.20.0
jsonpointer==2.4
pure_eval==0.2.3
Pygments==2.18.0
frozendict==2.4.4
comm==0.2.2
asttokens==2.4.1
matplotlib-inline==0.1.7
conda-package-handling==2.2.0
exceptiongroup==1.2.2
pytz==2024.2
propcache==0.2.0
multidict==6.1.0
chardet==5.2.0
TorchSnooper==0.8
contourpy==1.3.1
scipy==1.14.1
smmap==5.0.1
virtualenv==20.28.0
wandb==0.18.7
tensorboard-data-server==0.7.2
openai==0.27.8
cheroot==10.0.1
cycler==0.12.1
more-itertools==10.5.0
identify==2.6.3
opencv-python==4.10.0.84
tqdm==4.67.0
kiwisolver==1.4.7
sentry-sdk==2.18.0
GitPython==3.1.43
requests==2.32.3
tensorboard==2.18.0
thop==0.1.1-2209072238
aiohappyeyeballs==2.4.3
matplotlib==3.9.2
pre_commit==4.0.1
nodeenv==1.9.1
PyYAML==6.0.2
aiohttp==3.11.7
pypng==0.20220715.0
wheel==0.45.1
ultralytics-thop==2.0.12
pandas==2.2.3
qrcode==7.4.2
importlib_metadata==8.5.0
Werkzeug==3.1.3
async-timeout==5.0.1
torch-pruning==1.5.0
setuptools==75.6.0
pyparsing==3.2.0
protobuf==5.28.3
fonttools==4.55.0
click==8.1.7
seaborn==0.13.2
absl-py==2.1.0
web.py==0.62
py-cpuinfo==9.0.0
attrs==24.2.0
pip==24.3.1
cfgv==3.4.0
gitdb==4.0.11
grpcio==1.68.0
Markdown==3.7
ultralytics==8.3.36
distlib==0.3.9
yarl==1.18.0
aiosignal==1.3.1
setproctitle==1.3.4
frozenlist==1.5.0
HTMLParser==0.0.2
PySnooper==1.2.1
jaraco.functools==4.1.0
tzdata==2024.2
linkai==0.0.6.0
PyQRCode==1.2.1
pillow==11.0.0
pycocotools==2.0.8
docker-pycreds==0.4.0
torchvision==0.15.1+cu117
Jinja2==3.1.3
numpy==1.26.3
mpmath==1.3.0
torchaudio==2.0.1+cu117
MarkupSafe==2.1.5
lit==15.0.7
triton==2.0.0
networkx==3.2.1
sympy==1.12
filelock==3.13.1
cmake==3.25.0
torch==2.0.0+cu117
